<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    a {
      text-decoration: none;
      color: black;
    }
  </style>
  <body>
    <a href="/leads">Go Back to Leads</a>
    <hr />
    <h1>Full Name: {{leads.first_name}}, {{leads.last_name}}</h1>
    <h3>Age: {{leads.age}}</h3>
    <h3>Agent: {{leads.agent}}</h3>
    <hr />
    <button>
      <a href="/leads/detail/{{leads.id}}/update">Edit</a>
    </button>
    <button>
      <a href="/leads/detail/{{leads.id}}/delete">Delete</a>
    </button>
  </body>
</html>
